exclude: "DGS_SC_scripts/.*|.*\\.mat$"

ci:
    skip: [pixi-lock-check]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: [--maxkb=32000]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      exclude: pixi.lock
  - repo: local
    hooks:
    - id: pixi-lock-check
      name: pixi-lock-check
      entry: bash -c "pixi lock --check"
      stage: pre-push
      language: system
